@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>@ViewBag.Message</h1>

<h3>Here you can manage customers.</h3>

<p>There are @ViewBag.CustomerCount added to the list.</p>

<ul>
    @foreach(var customer in ViewBag.Customers)
    {
        <li>@customer.Id - @customer.Name - @customer.Amount</li>
    }
</ul>

<hr />


@Html.ActionLink("Details View","Details","Customer")

<br />

<a asp-controller="Customer" asp-action="Message">Message</a>